html {
  font-family: 'Titillium Web', sans-serif;
}

body {
  margin: 0;
}

#wrapper {
  overflow: hidden;
  z-index: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  font-weight: bold;
}

.logo {
  height: 30px;
  width: 100%;
  text-align: center;
  color: white;
  background: #4c5b75;
  overflow: hidden;
  z-index: 99999;
}

.logo p {
  margin: 3px 0 0 0;
  font-size: 1.3em;
}

.mobileMenuButton {
  position: fixed;
  top: 500px;
  right: 15px;
  height: 50px;
  width: 50px;
  cursor: pointer;
  background: #4c5b75;
  border: 1px solid white;
  border-radius: 50%;
  color: white;
  text-align: center;
  -webkit-transition: .4s;
  transition: .4s;
  z-index: 99999;
}

.mobileMenuButtonOpen {
  background: white;
  color: #4c5b75;
  border: 1px solid #4c5b75;
}

.mobileMenu {
  position: fixed;
  left: 0;
  bottom: -2000px;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  color: white;
  text-align: center;
  border: 1px solid white;
  border-radius: 5%;
  background: rgba(76, 91, 117, 0.9);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.mobileMenu h1 {
  margin: 200px 0 0 0;
}

.mobileMenu ul {
  margin: 0;
  padding: 0;
}

.mobileMenu ul li {
  margin: 15px 0 0 0;
  list-style: none;
}

.mobileMenu ul li:hover {
  font-weight: 600;
}

.mobileMenuOpen {
  left: calc(50% - 150px);
  bottom: calc(50% - 150px);
  left: 0;
  bottom: 0;
  opacity: 1;
}

#header {
  text-align: center;
}

#navbar {
  z-index: 3;
}

#navbar h1 {
  margin: 35px 10px 0 10px;
}

#navbar ul {
  margin: 15px auto 0 auto;
  width: 65%;
  overflow: hidden;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#navbar li {
  list-style: circle;
  margin: 10px 0;
  font-weight: 400;
}

section h1 {
  margin: 60px 0 0 0;
  padding: 10px 0;
  text-align: center;
  background: #e1e7f2;
  border-left: 5px solid grey;
}

section article .codepenAnchor {
  display: inline-block;
  margin: 25px 0 0 25px;
  font-size: 0.9em;
  font-weight: bold;
  background: rgba(225, 231, 242, 0.5);
}

section article ol {
  margin: 0;
}

section article ol li {
  margin: 20px 0 0 0;
}

section article h3 {
  margin: 25px 0 0 0;
  padding-top: 35px;
  text-align: center;
  border-top: 0.1px solid #bec1c6;
}

section article h4 {
  margin: 25px 0 0 0;
  text-align: center;
}

section article p {
  margin: 25px 10px 0 10px;
  text-align: justify;
}

section article a {
  display: auto;
  margin: auto;
  font-size: auto;
  font-weight: auto;
  background: rgba(225, 231, 242, 0.5);
}

section code {
  font-size: .8em;
}

section img {
  margin: 20px 10px 0 10px;
}

section .codeBlock {
  margin: 25px 0 0 0;
  padding: 8px 8px 8px 25px;
  color: white;
  background: #4c5b75;
}

section .note {
  padding: 3px;
  background: rgba(255, 246, 221, 0.6);
  border: 1px solid rgba(173, 65, 43, 0.12);
}

footer {
  margin: 25px 0 0 0;
  height: 10px;
}

@media screen and (min-width: 700px) {
  .logo {
    width: calc(75%);
  }
  #navbar {
    position: fixed;
    right: 0;
    top: 0;
    width: calc(25% - 2px);
    border-left: 2px solid rgba(0, 0, 0, 0.55);
    height: 100%;
  }
  #navbar h1 {
    padding-bottom: 30px;
    border-bottom: 0.1px solid #dae1ed;
  }
  #navbar ul {
    border: none;
  }
  #navbar li {
    margin: 40px 0;
    font-size: 1.1em;
  }
  #main-doc {
    float: left;
    width: 75%;
  }
  #main-doc p {
    margin: 25px 35px 0 35px;
  }
  #main-doc .codeBlock {
    padding-left: 50px;
  }
  #main-doc .codepenAnchor {
    margin-left: 50px;
  }
  #main-doc img {
    margin: 20px 25px 0 25px;
  }
  #main-doc ol {
    margin: 20px 25px 0 25px;
  }
  footer {
    float: left;
    width: 75%;
    text-align: center;
    border-top: 0.1px solid #bec1c6;
  }
}
/*# sourceMappingURL=style.css.map */